*,
*:before,
*:after {
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    margin: 0;
    background: #F5F7FA;
    color: #52575a;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1;
    min-width: 1024px;
}
p {
    margin: 0;
}
a {
    display: block;
    text-decoration: none;
    cursor: pointer;
    color: inherit;
}
svg {
    display: block;
}
input,
select {
    display: block;
    margin: 0;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    background: none;
    width: 100%;
}
input:focus,
select:focus {
    outline: none;
}
input[type=submit] {
    cursor: pointer;
}