/* button */

.f-button {
    height: 36px;
    border-radius: 3px;
    line-height: 36px;
    font-size: 14px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    color: #fff;
    text-align: center;
    padding: 0 16px;
    text-transform: uppercase;
}
.f-button.primary {
    background: #3a84ff;
}
.f-button.primary:hover {
    background: #3477e6;
}
.f-button.default {
    box-shadow: none;
    color: #3a84ff;
}
.f-button.default:hover {
    text-decoration: underline;
}


/* input */

.f-input {
    height: 36px;
    border: 1px solid #D6D6D6;
    border-radius: 2px;
    color: #313131;
    font-size: 14px;
    padding: 0 8px;
    background: #ffffff;
}
.f-input::placeholder {
    color: #BFC1C3;
    font-weight: 300;
}
.f-input:focus {
    border-color: #3a84ff;
}
